*.o
*.a
*.d
*.asm
*.bin
*~
usermode/record
usermode/replay
usermode/replay.log
usermode/scan_log
usermode/test
usermode/fixup_chunk_log
usermode/push_exe_qemu.sh
usermode/pull_log_qemu.sh
usermode/scan_chunk_log
disk_images/rootfs.ext3
disk_images/rootfs.i386.ext3
disk_images/ubuntu-10.04-x86_64.qcow2
